/* ------>home page layout STARTS here<-------- */

/* set global variables */
:root {
  --header-font-weight: 800;
  --header-color: rgba(48, 114, 236, 0.974);
  --font-color: #020269;
  --btn-hover: darkorange;
  --section-bg:#bae4eb5c;
  --text-shadow:1px 1px 2px #2a8bec;

  /* variables for burger menu */
  --bar-with: 30px;
  --bar-height: 4px;
  --hamburger-gap: 5px;
  --background: whitesmoke;
  --hamburger-margin: 20px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

/* remove html and body default sizes, 
and assign global properties */
*,
html,
body,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  color: var(--font-color);
}
/* set body layout */
body {
  display: grid;
  position: relative;
}
/* /set the main layout */
main {
  display: grid;
  height: 100%;
}
h1 {
  color: var(--header-color);
  font-weight: var(--header-font-weight);
  text-shadow: var(--text-shadow);
}

/* ------>home page layout ENDS here<-------- */

/* -------> burgerMenu START ⬇️⬇️⬇️⬇️<------- */
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  /* left:auto; */
  z-index: 10;
  cursor: pointer;
}
.hamburger-menu:has(input:checked) {
  --background: var(--font-color);
  --foreground: var(--background);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-with);
  height: var(--bar-height);
  background-color: var(--font-color);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}
.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: rgb(--background);
  color: var(--font-color);
  width: 100%;
  height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}
.burger-nav {
  padding: 100px;
}
.burger-nav a {
  color: var(--font-color);
  font-size: 2rem;
  font-weight: var(--header-font-weight);
}
.burger-nav a:hover {
  color: var(--btn-hover);
}
.burgerMenu {
  position: absolute;
}
.burgerMenu .hamburger-menu:has(input:checked) + .sidebar {
  /* background-color: var(--background); */
  background-color: #f7e2c7;
}
.burgerMenu .hamburger-menu:has(input:checked) {
  position: fixed;
}

.burgerMenu {
  position: fixed;
  z-index: 100;
}

/* -------> burgerMenu END ⬆️⬆️⬆️⬆️ <------- */

/* -------->styles for HEADER and NAV STARTS here ⬇️⬇️⬇️⬇️<-------- */
header {
  display: flex;
  flex-direction: row;
  background-image: url("./assets/images/banner.jpg");
  background-size: cover;
  position: relative;
  height: 50vh;
  width: auto;
}

.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  height: 70px;
  justify-content: space-around;
  background-color: #dadee4;
  opacity: 0.9;
  position: fixed;
  top: 0;
  z-index: 8;
}
.cname {
  position: absolute;
  font-weight: 900;
  font-size: 1rem;
  padding: 15px;
  margin-left: 45px;
  margin-bottom: 0;
}
.banner-text {
  position: absolute;
  bottom: 50px;
  left: 10px;
  height: 140px;
}
.hero-banner {
  position: absolute;
  /* width: 100vw; */
  z-index: 1;
}
.banner-text {
  width: 280px;
  z-index: 2;
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}
.sr-only {
  display: none;
}
.bi-linkedin {
  height: 50px;
  width: 50px;
  fill: rgb(71, 122, 241);
}
.bi-github {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  fill: rgb(88, 86, 86);
}
.social-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 60px;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  width: 20px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
.contact-item-email::before {
  content: "📩";
}
.contact-item-phone::before {
  content: "📞";
}

/* -------->styles for HEADER and NAV ENDS here ⬆️⬆️⬆️⬆️<-------- */

/* -------->styles for ABOUT page STARTS here ⬇️⬇️⬇️⬇️<-------- */
#about > .about-text {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  text-indent: 0;
}
#about > .title {
  display: none;
}
#about > h2 {
  text-align: center;
  margin-top: 20px;
}
#about > p {
  text-indent: 40px;
  text-align: justify;
  padding: 10px;
}

/* -------->styles for ABOUT page ENDS here ⬆️⬆️⬆️⬆️<-------- */

/* ----------->CSS styles for SERVICES page STARTS here ⬇️⬇️⬇️⬇️<-------- */

#services{
  background-color: var(--section-bg);
  z-index: 100;
}
#services > .title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.services-container{
  padding: 10px;
}
.carousel-inner img{
  border-radius: 10px;
}
.service-link{
  font-size: 1rem;
  font-weight: 600;
  padding-left: 30%;
  
}

.service-link:hover{
  color: var(--btn-hover);
}
/* -------->styles for SERVICES page ENDS here ⬆️⬆️⬆️⬆️<-------- */

/* ----------->CSS styles for REVIEWS page STARTS here ⬇️⬇️⬇️⬇️<-------- */
#reviews{
  background-color: #bae4eb5c;
  z-index: 100;
}
#reviews > .title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.reviews-container .card{
  margin-bottom: 15px;
}
.review-link:hover{
  color: var(--btn-hover);
}

/* -------->styles for REVIEWS page ENDS here ⬆️⬆️⬆️⬆️<-------- */


/* ----------->CSS styles for CONTACT page ⬇️⬇️⬇️⬇️<-------- */

#contact {
  background-color: var(--section-bg);
  display: flex;
  padding: 0 15px 0 15px;
  flex-wrap: nowrap;
  flex-direction: column;
  z-index: 100;
}
#contact > .title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
label[for="email"]::before {
  content: "📩 ";
}

label[for="message"]::before {
  content: "✍️ ";
}
label[for="phone"]::before {
  content: "📞 ";
}
#message {
  resize: none;
}

.btn {
  background-color: #2a8bec;
  border: solid 2px #2a8bec;
  border-radius: 5px;
  color: whitesmoke;
  padding: 5px;
  margin: 10px 0 10px 0;
  box-shadow: 2px 3px 5px 1px #4ec7ec;
}

/* hover effects */
.btn:hover {
  background-color: var(--btn-hover);
  box-shadow: 2px 3px 5px 1px var(--btn-hover);
  border: solid 2px var(--btn-hover);
}
/* ----------->CSS styles for CONTACT page END ⬆️⬆️⬆️⬆️<-------- */




/* ----------->CSS styles for FOOTER  START ⬇️⬇️⬇️⬇️<-------- */
footer{
 background-color: var(--background);
 z-index: 100;
}
footer h3{
  color: var(--font-color);
  text-shadow: var(--text-shadow);
  text-align: center;
  font-weight: 600;
  margin-top: 20px;

  
}
.footer-contact-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
}

footer a:hover{
  color: var(--btn-hover);
}
#social-icon{
  display: flex;
  height: 40px;
  
}

.footer-social-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  padding: 0;

  

}

.footer-social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  
}

.find-us{
  text-align: center;
}
.copyright{
  display: flex;
  justify-content: center;
  text-align: center;
}


/* -------->styles for FOOTER ENDS here ⬆️⬆️⬆️⬆️<-------- */




/*add media queries for web responsiveness to different viewport */

@media (min-width: 768px) {
  main {
    height: 300px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-areas: ; */
  }
  .burgerMenu,
  .review-link{
    display: none;
  }

}

@media (max-width: 768px) {
  .bi-linkedin,
  .bi-github,
  .header-contact,
  .nav-menu,
  .card-review{
    display: none;
  }
}

/* @media (max-width: 576px) {
  .bi-linkedin,
  .bi-github,
  .header-contact,
  .nav-menu,
  .card-review{
    display: none;
  }
} */
