/* ------>home page layout STARTS here<-------- */

/* set global variables */
:root {
  --header-font-weight: 800;
  --header-color: rgba(48, 114, 236, 0.974);
}
/* remove html and body default sizes, 
and assign global properties */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
}
/* set body layout */
body {
  display: grid;
}
/* /set the main layout */
main {
  display: grid;
  height: 100%;
}
h1 {
  color: var(--header-color);
  font-weight: var(--header-font-weight);
}

/* ------>home page layout ENDS here<-------- */

/* -------->styles for HEADER and NAV STARTS here<-------- */
header {
  display: flex;
  flex-direction: row;
  background-image: url("./assets/images/banner.jpg");
  background-size: cover;
  /* height: 100%; */
}



nav {
  display: flex;
  background-color: rgb(215, 22, 22);
  height: 60px;
  z-index: 10;
}
.nav-item {
  width: 20px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  /* flex-wrap: nowrap; */
  /* justify-content: space-evenly; */
  align-items: center;
  /* width: 100px; */
  /* margin: 20px; */
}

/* ----------->CSS styles for CONTACT page<-------- */

#contact {
  display: flex;
  padding: 0 15px 0 15px;
  flex-wrap: nowrap;
  flex-direction: column;
}
#contact > .title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
label[for="email"]::before {
  content: "📩 ";
}

label[for="message"]::before {
  content: "✍️ ";
}
label[for="phone"]::before {
  content: "📞 ";
}
#message {
  resize: none;
}

.btn {
  background-color: #2a8bec;
  border: solid 2px #2a8bec;
  border-radius: 5px;
  color: whitesmoke;
  padding: 5px;
  margin: 10px 0 10px 0;
  box-shadow: 2px 3px 5px 1px #4ec7ec;
}

/* hover effects */
.btn:hover {
  background-color: darkorange;
  box-shadow: 2px 3px 5px 1px darkorange;
  border: solid 2px darkorange;
}

/*add media queries for web responsiveness to different viewport */

@media (min-width: 768px) {
  main {
    height: 300px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-areas: ; */
  }
}
